<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Register teacher</mat-card-title>
        <hr>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                
                matInput
                placeholder="First name"
                required
              />
            </mat-form-field>
            <mat-form-field>
                <input
                  
                  matInput
                  placeholder="Lastname"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  
                  matInput
                  placeholder="Birth year"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  
                  matInput
                  placeholder="Area"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  
                  matInput
                  placeholder="Address"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  
                  matInput
                  placeholder="Phone"
                  required
                />
              </mat-form-field>
            <mat-form-field>
              <input
                
                type="email"
                matInput
                placeholder="Email"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                
                type="password"
                matInput
                placeholder="Password"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            
            class="button colorButton"
            mat-raised-button
          >
            Register
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
